<form action="{{cssClass}}" autocomplete="off">
  <div class="main">
    <div class="character">
      <div style="display: grid;grid-template-columns: 150px 1fr; gap: 5px">
        <div class="image">
          <img src="{{actor.img}}" data-edit="img" name="{{name}}" />
        </div>
        <div>
          <div>
            <div class="character__name" style="display: flex;">
              <h1 style="flex: 90%;"><input type="text" name="name" id="actor.name" value="{{actor.name}}" /></h1>
            </div>
            <div class="character__job">
              <div>
                <select name="data.profile" id="data.profile">
                  {{selectOptions config.profiles selected=data.profile localize=true}}
                </select>
              </div>
              <div>
                <select name="data.defect" id="data.defect">
                  {{selectOptions config.defects selected=data.defect localize=true}}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="status">
          <div>
            <table>
              <tr>
                <th>{{localize "sherwood.sheet.health"}}</th>
              </tr>
              <tr>
                <td>
                  <input style="text-align: center;" type="number" name="data.health.current" id="data.health"
                    value="{{data.health.current}}">
                </td>
              </tr>
            </table>
          </div>
          <div>
            <table>
              <tr>
                <th>{{localize "sherwood.sheet.xp"}}</th>
              </tr>
              <tr>
                <td>
                  <input style="text-align: center;" type="number" name="data.xp" id="data.xp" value="{{data.xp}}">
                </td>
              </tr>
            </table>
          </div>
          <div>
            <table>
              <tr>
                <th colspan="2">{{localize "sherwood.sheet.armor.name"}}</th>
              </tr>
              <tr>
                <th>{{localize "sherwood.sheet.armor.slash"}}</th>
                <th>{{localize "sherwood.sheet.armor.blunt"}}</th>
              </tr>
              <tr>
                <td>
                  <input style="text-align: center;" type="number" name="data.armor.blunt" id="data.armor.blunt"
                    value="{{data.armor.blunt}}" min="0">
                </td>
                <td>
                  <input style="text-align: center;" type="number" name="data.armor.slash" id="data.armor.slash"
                    value="{{data.armor.slash}}" min="0">
                </td>
              </tr>
            </table>
          </div>
          <div>
            <table>
              <tr>
                <th colspan="2">{{localize "sherwood.sheet.karma.name"}}</th>
              </tr>
              <tr>
                <th>{{localize "sherwood.sheet.karma.hope"}}</th>
                <th>{{localize "sherwood.sheet.karma.shadow"}}</th>
              </tr>
              <tr>
                <td>
                  <input style="text-align: center;" type="number" name="data.karma.hope.current" id="data.karma.hope"
                    value="{{data.karma.hope.current}}" max="{{data.karma.hope.max}}">
                </td>
                <td>
                  <input style="text-align: center;" type="number" name="data.karma.shadow.current"
                    id="data.karma.shadow" value="{{data.karma.shadow.current}}" max="{{data.karma.shadow.max}}">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <nav class="tabs" data-group="primary-tabs">
        <a class="item" data-tab="stats">{{localize "sherwood.sheet.stats"}}</a>
        <a class="item" data-tab="assets">{{localize "sherwood.sheet.assets"}}</a>
        <a class="item" data-tab="inv">{{localize "sherwood.sheet.inventory"}}</a>
        <a class="item" data-tab="desc">{{localize "sherwood.sheet.description"}}</a>
      </nav>
      <section class="content">
        <div class="tab" data-tab="stats" data-group="primary-tabs">
          {{> "systems/sherwood/templates/sheets/actors/parts/actor-stats.hbs" sections=stats}}
        </div>
        <div class="tab" data-tab="assets" data-group="primary-tabs">
          {{> "systems/sherwood/templates/sheets/actors/parts/actor-assets.hbs" sections=assets}}
        </div>
        <div class="tab" data-tab="inv" data-group="primary-tabs">
          {{> "systems/sherwood/templates/sheets/actors/parts/actor-inventory.hbs" sections=inventory}}
        </div>
        <div class="tab" data-tab="desc" data-group="primary-tabs">
          {{> "systems/sherwood/templates/sheets/actors/parts/actor-description.hbs" sections=description}}
        </div>
      </section>
    </div>



</form>