<ol class="items-list">
  <li class="item flexrow item-header">
    <div class="item-name">{{localize 'sherwood.sheet.assets'}}</div>
    <div class="item-controls"></div>
  </li>
  {{#each assets as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <h4 class="item-name"><a class="item-control item-description" title="{{localize 'sherwood.ShowDescription'}}"><i class="fas fa-angle-{{#if data.showDescription}}down{{else}}right{{/if}} item-angle" aria-hidden="true"></i>{{item.name}}</a></h4>
      <div class="item-controls">
        <a class="item-delete" data-item-id="{{item._id}}">
              <i class="fas fa-trash"></i>
            </a>
      </div>
    </li>
    {{#if data.showDescription}}
    <li class="item-desc flexrow">
      <div class="description"><img class="description-image" src="{{item.img}}" width="50" height="50"/>{{{data.description}}}</div>
    </li>
    {{/if}}
  {{/each}}
</ol>